*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    overflow-x: hidden;
}

.marcador-container{
    border: 1px solid red;
}

.marcador{
    border: 1px solid blue;
}


.conteudo-principal{
    width: 100vw;
    height: 100vh;
}


/*área topo*/
.topo{
    width: 100vw;
    background-color: #fff;
    position: fixed;
    z-index: 1;
}


.nv-principal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 28px 16px 6px;
}

.texto-logo{
    margin-left: 190px;
}

.navegacao{
    margin-right: 160px;
}

.navegacao a, .texto-logo a{
    text-decoration: none;
    
}


.texto-logo a{
    font-size: 20px;
}

.texto-logo span{
    color: #007BCB;
}

.navegacao a{
    font-size: 16px;
    margin-left: 24px;
    color: #B6BCC6;
}

/*Área banner*/
.container-banner{
    width: 100%;
    height: 100%;
    background-image: url(../assets/img-fundo.jpg);
    background-size: 100% 100%;
    position: relative;
}

.texto-banner:first-of-type{
    width: 720px;
    height: 240px;
    background-color: #33915D;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 40px 0;
    box-sizing: border-box;
    border: 1px solid #fff;
    color: #ffffff;
}

.texto-banner h1:first-of-type{
    font-size: 70px;
    opacity: 1;
    
}

.texto-banner p:first-of-type{
    margin-top: 30px;
    font-size: 40px;
    opacity: 1;
    
}

/*Área apresentação*/
.container-apresentacao-pousada{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.container-apresentacao-pousada .container-texto-apresentacao{
    width: calc(100% - 10px);
    padding: 100px 0;
    margin: 0;
    text-align: center;
}

.container-apresentacao-pousada .imagens{
    width: calc(70% - 10px);
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.container-texto-apresentacao{
    width: 100%;
    margin: 0;
}

/*área imagem principal*/
.container-imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.imagens{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 10px;
}

.img-1, .img-2, .img-3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   margin: 0 10px;
   width: calc(100% - 20px);
   border-bottom: 2px solid #3CB371	;
}

.img-1 img:first-child, .img-2 img:first-child, .img-3 img:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
}

.img-1 a, .img-2 a, .img-3 a{
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 5px 0;
}